[2016-12-19 10:25] pacman82 opened #7 "How to treat SUCCESS_WITH_INFO in a high level abstraction of odbc?"
For the low level stuff SUCCESS_WITH_INFO mostly happens if a buffer is truncated, which we can avoid entirely. Actually executing SQL Statements however is an entirely different matter. How do we handle ODBC notion of warnings (SQL_SUCCESS_WITH_INFO) with idomatic error handling in RUST which only knows `Ok` and `Error`?

[2016-12-19 10:57] Koka commented on #7
@pacman82  I've seen this https://github.com/canndrew/w_result - may be we should implement something like this or use it directly if it's appropriate

[2017-01-13 14:23] pacman82 commented on #7
@Koka sorry for the long response time, took an extended vacation over the holidays. Back to the topic at hand: We could use this crate, but then the user would have a hard time to opt out of fetching these warnings (and allocating these strings and so on...). Currently I'm thinking more along the lines of indicating the presence of warnings (or infos) with the result enum and let the user fetch t

[2017-01-18 05:06] Koka commented on #7
@pacman82 Sounds reasonable.

[2017-01-25 17:46] bbigras opened #9 "simpler api"
The postgres crate has a pretty simple API https://github.com/sfackler/rust-postgres/blob/master/README.md. It would be nice to have the same with odbc-rs.

[2017-02-07 22:11] pacman82 commented on #9
I feel the same way. I have not yet used the postgres crate, but certainly using ODBC should be simpler than it is right now. At the very least it should be possible in safe code. Do you have a particular use case in mind?

[2017-02-11 00:39] pacman82 opened #12 "Is it safe to have multiple ODBC environments"
May safe code allow having multiple ODBC environments? This link claims there should only be one Environment per Application (aka process) (http://old.vk.pp.ru/docs/sybase-any/interfaces/00000034.htm). However I did not find any such requirement in the official ODBC Documentation. Or did I just miss it?

[2017-02-11 09:10] Koka commented on #12
Looks like it's totally unsafe to allocate multiple environments. See https://odbcrouter.com/api/index.shtml?SQLAllocEnv for example.

On operating systems that support multiple threads, applications can use the same henv on different threads and drivers must therefore support safe, multithreaded access to this information. The application passes the henv value in all subsequent calls that require

[2017-02-14 16:17] pacman82 commented on #12
Seems to be true. The race conditions in the tests seem to indicate the same :-(. Despite having to prevent the user from instantiating the wrapper class more than once, this raises another troubling issue: Our library probably would not compose safely with other ODBC wrappers. I stated the issue with a call for help in this [reddit thread](https://www.reddit.com/r/rust/comments/5u05mx/help_can_i_

[2017-02-14 17:30] Koka commented on #12
@pacman82 I think situation when someone uses two ODBC wrappers simultaneously in the same process is pretty exotic and probably the man who does this knows well what he's doing. It's good enough to prevent multiple instantiation of rust odbc environment wrapper and trust end user to not screw things up with another wrapper. And we need to ensure that our environment wrapper can be shared between

[2017-02-14 17:36] Koka commented on #12
And may be we should allow unsafe construction of our wrapper from raw environment handle which can be allocated by another wrapper for example to give end user ability to use our wrapper with externally constructed environment?

[2017-02-15 10:11] pacman82 commented on #12
Yesterday I discovered a bug I introduced in my fork (shame on me). Since fixing it I do no longer experience any data races while running tests. Reading the ODBC reference I did still not find any indication that allocating more than one Environment is UB. Yet we both did find secondary documentation claiming otherwise. In would suggest "in dubio pro reo": Our growing number of tests should event

[2017-02-15 10:19] Koka commented on #12
Ok, let's leave to end user as original API do.

[2017-02-15 10:19] #12 closed

[2017-02-17 13:11] pacman82 opened #14 "Suggestion for structuring the API in layers"
I think we would benefit from structuring the API in seperate layers with dedicated responsibilities:
1. The first layer is the already in existence and encapsulated in the raw module. It contains FFI signatures of the C API calls.
2. The second layer should only ensure the basic rust safety promises. No memory corruption, no data races. No layer above it should contain unsafe code.
3. The third l

[2017-02-17 13:23] Koka commented on #14
Isn't this too complex and scary for new developers trying to use this crate? It's common to have only two layers - raw and safe one. May be we should merge 2,3,4 layers into a single one?

[2017-02-17 13:35] pacman82 commented on #14
Consumers of this crate would stick to the top layer. We can make the lower layers private if you want to. Although sometimes a user might want to use the extra power available by the lower layers, especially if it is not yet implemented in the higher ones.

That is what I'm doing now, and it feels like I'm trying to do, to many things at once.

[2017-02-17 13:41] Koka commented on #14
May be let's merge 3 and 4 at least - and we need to clearly state in documentation and comments which layers do we have and how to use each of them

[2017-02-17 13:49] pacman82 commented on #14
ok, merging 3 and 4 sounds reasonable. These layers are mostly to avoid repetition in the implementation. As such they are destined to be private implementation details anyways. The reason why I would make them public in pre 1.0.0, is because of the sheer feature richness of ODBC a lot of functionality might be stuck in the lower layers for quite a while.

[2017-02-17 13:51] Koka commented on #14
Ok, closing this issue.

[2017-02-17 13:51] #14 closed

[2017-03-12 03:21] pacman82 commented on #7
For now let's log these as warnings: #19

[2017-03-12 04:29] Koka commented on #7
I think it's ok

[2017-03-12 04:29] #7 closed

[2017-03-14 20:13] brunoqc commented on #9
Sorry about the very late reply. I would like to use it with MSSQL.

[2017-03-14 21:31] pacman82 commented on #9
I develop locally with windows 10, so I can probably help you set it up if you encounter some weird linker errors. Yet I have only used it with the Access text driver and not yet with an actual MSSQL Server.
IMHO the API has much improved since you last commented (although it has not been released yet), maybe you want to give it a try.
In the very likely case you are missing something I'd be inter

[2017-03-15 14:33] brunoqc commented on #9
Yes I saw that. I tried the code from master yesterday. I develop on Linux and I was able to connect and fetch some data (with errors) using unixodbc and freetds (I have no idea what unixodbc does, in the pass I only used freetds).

One "error" was that if I did a SELECT on one column, the data didn't seems to match the real data but it looked familiar (like if I had parts of the data or if the ro

[2017-03-15 16:19] pacman82 commented on #9
it is an implementation of an ODBC Driver Manager. It keeps track of all the different odbc driver `.so`s on your system so your application needs only to link against the driver manager and can decide which data source to use at runtime. TL;DR it is an indirection which allows your app to be independent from a particular database driver

There is and I can. However there is no Windows on travis C

[2017-03-15 16:23] Koka commented on #9
@pacman82 I've seen people using https://www.appveyor.com for builds on windows and seems like it supports mssql. May be we could use it?

[2017-03-15 16:28] pacman82 commented on #9
@Koka Never used it before, but it seems like it fits the bill. Great suggestion!

[2017-03-15 23:15] pacman82 commented on #9
@brunoqc Just stumbled over [the official MS SQL Server ODBC driver](https://blogs.msdn.microsoft.com/sqlnativeclient/2016/10/20/odbc-driver-13-0-for-linux-released/) from Microsoft for Linux

[2017-03-16 07:45] Koka commented on #9
@brunoqc @pacman82 JFYI - I've just released 0.3.0 with all latest changes

[2017-03-16 19:50] pacman82 opened #23 "get_data fetches garbage on linux"
I've been able to reproduce this behavior. Sadly it only occurs on Linux using unix_odbc. I do not get this locally on my windows machine. Luckily for now I did not require MS SQL to reproduce this SQLite is quite enough. Now I only have to fix it...

[2017-03-16 19:51] pacman82 commented on #9
@brunoqc I have been able to reproduce the first Bug you mentioned. See #23

[2017-03-16 19:53] Koka commented on #23
@pacman82 It was totally fine in my initial experiment with postgresql on linux (with autogenerated ffi mappings). May be we should try again and search for differences in code

[2017-03-16 19:56] brunoqc commented on #9
Nice, I'll test again.

[2017-03-16 22:23] pacman82 commented on #23
If you want to join in the fun: I have [a reproducing test](https://github.com/pacman82/odbc-rs/blob/query_test/tests/libs.rs#L75). For additional WTF remove the `println` from the test and see it pass on stable but fail on beta and nightly.

This is what I found out so far:
* The first four bytes of the retrieved strings are always zero. The rest is fine.
* Shifting the passed pointer passed to S

[2017-03-16 22:59] pacman82 commented on #23
ok, the call to `SQLGetData` seems fine. Something immediately after it sets the first 4 Bytes of the buffer to zero, no matter what pointer has been passed to `SQLGetData`

[2017-03-17 05:55] Koka opened #25 "AppVeyor build integration and Windows builds"
We could add https://www.appveyor.com/ build to ensure this crate works well on windows environments (and add some tests for windows specific databases like MSSQL too)

[2017-03-17 15:40] brunoqc commented on #9
It works. Both problem seems gone. I tested with master.

[2017-03-17 16:35] Koka commented on #23
Problem is fixed, but let's leave this open for further investigation

[2017-03-17 21:23] pacman82 commented on #25
Just used [this repository](https://github.com/starkat99/appveyor-rust/blob/master/appveyor.yml) to enable AppVeyor for odbc-ffi. Works like a charm!

[2017-03-20 00:20] pacman82 commented on #23
[This reddit thread](https://www.reddit.com/r/rust/comments/60b4v5/can_anyone_help_me_identify_what_i_did_wrong_in/?st=j0hcsv7z&sh=f900870e) helped finding the cause. The definition of `SQLLEN` had been 32 Bit on 64 Bit linux platforms. I fixed this Bug in the odbc-sys crate.

[2017-03-20 01:04] #23 closed

[2017-03-20 07:05] Koka commented on #25
I've did initial appveyor setup, but it has some problems linking on i686 arch. Will investigate later.

[2017-03-20 07:17] Koka opened #29 "Unstable tests"
I've got unstable behaviour in our tests - they fail time to time with the following thread-related exception message:

[code]

Quick googling [suggests](http://stackoverflow.com/questions/1105745/pthread-mutex-assertion-error) setting set `Threading` [param](http://stackoverflow.com/questions/4207458/using-unixodbc-in-a-multithreaded-concurrent-setting) to `0` or `1` in `odbcinst.ini`, but I'm no

[2017-03-20 14:26] pacman82 commented on #29
The default threading level on unix_odbc is 0 and it will not help. I've also seen this tests fail and I think it is caused by having multiple odbc environments in the same process (issue #12). Although back then it seemed more like a hypothetical problem.

[2017-03-20 14:41] pacman82 commented on #25
These are probably the [the same linking errors](https://ci.appveyor.com/project/pacman82/odbc-ffi/build/job/641p4j68hub92q1s) `odbc-sys` has linking on 32 Bit platforms. I do not yet know what causes this. Maybe he is trying to use the 64Bit `odbc32.dll`? I'd say `odbc-rs` should just go ahead with the x86_64 toolchain for now and let's debug the 32Bit build using `odbc-sys`.

[2017-03-23 02:20] pacman82 opened #31 "docs"
Do you intentionally publish the documentation yourself? If not you might safe some work by just linking to https://docs.rs/odbc

[2017-03-23 05:09] Koka commented on #31
Yes, that's intentionally. I'd prefer to keep a copy of documentation intact if docs.rs is down, but thanks for suggestion.

[2017-03-23 05:09] #31 closed

[2017-03-23 05:11] #25 closed

[2017-03-23 05:20] Koka opened #32 "Fix coveralls reporting"
Coveralls reports bad data for now. It's somehow related to travis build matrix I think. Will fix it later

[2017-03-23 05:30] Koka commented on #29
As a temporary solution I've enabled single-threaded test mode for both appveyor and travis builds - will see if things go better now

[2017-04-04 05:10] Koka commented on #9
Looks like every problem mentioned in this issue was resolved, so I'm closing this.

[2017-04-04 05:10] #9 closed

[2017-04-04 05:11] Koka commented on #29
Looks like everything's ok now

[2017-04-04 05:11] #29 closed

[2017-04-25 07:55] jlgale opened #38 "Expose result column metadata"
Basically some form of the output from `SQLDescribeCol()` would be handy:

https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqldescribecol-function

[2017-04-26 00:00] jlgale opened #39 "user extensible value decoding"
The `Output` trait describes how a rust type can be derived from a query result value. However, it can only be implemented within the library itself.

This means, for example, that I can't query a datetime directly into a rust datetime value unless this library implements it. The postgres crate (https://github.com/sfackler/rust-postgres) does nice job with this, providing a trait that users can im

[2017-04-26 05:03] jlgale commented on #39
I guess that what I really want is datetime decoding, but if this was fixed I could add it myself. :)

[2017-04-26 09:29] Koka commented on #39
@jlgale Hello, could you please check example code at [examples/custom_get_data.rs](https://github.com/Koka/odbc-rs/pull/40/files#diff-63083071fae37cbd1121b991193bcb39) ?

Does this resolve problem you've mentioned in this issue?

[2017-04-26 18:46] jlgale commented on #39
Yeah, it appears so. It's your library and but as a user my feedback is that I'm surprised I would have to use `unsafe` to functions to decode a value. I'm also surprised that the `Raii` container is exposed to here. It's also a little odd that the buffer is mutable?

[2017-04-27 05:31] Koka commented on #39
@jlgale Of course it still needs refactoring, I just want to be sure I'm moving right direction.

[2017-04-27 16:34] jlgale opened #41 "Large columns support (SQL_NO_TOTAL)"
https://github.com/Koka/odbc-rs/blob/master/src/statement/output.rs#L115

It looks like this function doesn't expect the `SQL_NO_TOTAL` case (-4) and it goes badly.

I don't know what SQL_NO_TOTAL means, but I can report that this happened when querying a column with large text values.

[2017-04-28 11:52] Koka commented on #39
@jlgale check example in 0.7.0 release - it should be much better now

[2017-05-01 17:42] jlgale commented on #39
Thanks, I'll try it

[2017-05-01 20:37] donhcd commented on #41
it seems like this was at least partially fixed in https://github.com/Koka/odbc-rs/commit/fe6f5ba180270a9869befd04bb5fc06b27b8c095

[2017-05-01 20:43] jlgale commented on #41
Maybe we can try to repo it with the latest?

[2017-05-02 01:38] Koka commented on #41
Looks like it's reproduced on large string columns of specific types. Code for handling such a case is still missing, though. @jlgale could you please share additional details on your database vendor and db schema?

[2017-05-02 07:24] #39 closed

[2017-05-02 09:39] pacman82 commented on #41
Hi, I'm back from Vacation;-) SQL_NO_TOTAL means that odbc is not able to tell you how much memory you have to allocate to hold the field of the column. Usually this happens for database columns which are intended to hold large amounts of data. You are supposed to call get_data repeatedly on them to process the data chunk-wise. The best fit on the rust side of things could be something implementin

[2017-05-02 18:02] jlgale commented on #41
@Koka we are using a database called "snowflake" (snowflake.net). It's similar to Amazon's redshift.

The value in question comes from a `VARIANT` type column that has been cast to text. So basically a JSON string. These can be up to 16MB in size.

It seems reasonable that the default would be to read in everything but allow for `OdbcType` implementations that do something else.

[2017-05-02 18:06] jlgale commented on #41
With the new release, 0.7.1, we no longer see the the panic but we just get an empty strings. An improvement :)

[2017-05-10 05:54] Koka commented on #38
@jlgale released in 0.8.0

[2017-05-10 05:54] #38 closed

[2017-05-10 06:14] jlgale commented on #38
Nice. I'll take a look.

[2017-05-10 23:03] pacman82 commented on #41
I'll start working on this

[2017-06-08 01:22] ghost opened #48 "How to get blob field data？"
when i tried to get a blob data from oracle 11g, I ran into some problems. I googled it, but didn't have a solution. I need help.
My struct:
[code]
In the database, the template field corresponds to a blob filed。
Did i should get the blob field like this?if not, how can i get the blob field?
[code]
can somebody help me? thank you!

[2017-06-13 13:44] bbigras opened #49 "[FreeTDS][SQL Server]Invalid data type"
error
[code]

code
[code]

rustc 1.19.0-nightly (cfb5debbc 2017-06-12)
odbc b88e6837704aafbcfd23a7bdc8556a7b6f02a20e
Driver=FreeTDS
freetds 1.00.40-1
Arch Linux 64-bit

[2017-06-19 14:43] pacman82 commented on #49
I think the issue is very likely, that we do not infer the type based on the rust type, but let it be figured  out by the odbc driver itself. We should consider passing something different to `Unknown` in this piece of code:

https://github.com/Koka/odbc-rs/blob/6c316a2a063e17a63cfb42f120aa6867d561dddc/src/statement/input.rs#L65

[2017-06-19 14:59] pacman82 commented on #48
We simply do not support Vec<u8> up to now. There is no particular reason for the missing support other than no one has implemented it yet. I have been away on vacation for the past three weeks, so I see your issue just now. I'm currently working on #41 and my solution is likely to fix this one, too.

[2017-06-20 05:42] Koka commented on #49
I've created a branch with possible fix, but I can't test it right now as I have no access to SQL Server and it works in either way in Postgres

[2017-06-21 02:23] bbigras commented on #49
I'll test it at work tomorrow.

[2017-06-21 17:26] bbigras- commented on #49
I don't have the "Invalid data type" problem anymore.

I tested with a simple query and it was fine. I tested with a query with 3 "INNER JOIN" and the requests hangs for about 20 seconds and the query results contain 0 when it shouldn't be. Not sure if I should open another issue or if it could be related.

Also I think you might be able to use [microsoft/mssql-server-linux](https://hub.docker.com

[2017-06-21 17:29] bbigras commented on #49
Sorry for the duplicate post. I replied with the wrong account.

I don't have the "Invalid data type" problem anymore.

I tested with a simple query and it was fine. I tested with a query with 3
"INNER JOIN" and the requests hangs for about 20 seconds and the query
results contain 0 when it shouldn't be. Not sure if I should open another
issue or if it could be related.

Also I think you might be

[2017-06-24 12:19] #32 closed

[2017-06-24 12:20] Koka opened #51 "Tests are failing on beta and nightly rust"
Looks like SQLBindParam for strings is truncating them or something

[2017-08-04 11:43] yvz5 opened #52 "Support non UTF-8 strings"
`thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Utf8Error { valid_up_to: 1, error_len: Some(1) }', src\libcore\result.rs:860`

The database has german characters in it "üÜäÄöÖ".

this is how I try to get the data:
`cursor.get_data::<String>(3)`

is this a bug or should I use some other data type ?

[2017-08-04 12:05] Koka commented on #51
And stable too :(

[2017-08-04 13:02] yvz5 commented on #52
I have SQL Anywhere 17 both 32-bit and 64-bit ODBC Drivers installed. When I try the same connection string and sql statement in c#, everything is fine.

[2017-08-06 00:44] pacman82 commented on #52
`String` is a UTF8 encoded string. The data returned does not seem to be UTF8 encoded. If we had support for `Vec<u8>` right now, I would suggest using that and do the encoding yourself. We could also think about retrieving `String` as wide characters.

[2017-08-09 11:11] Koka commented on #49
@bbigras I've released invalid data type fix as 0.9.0. Could you please check if other problem (with joins) is resolved now? If not, we could move this to a separate bug and it would be great to share some additional details and examples like SQL query, table structure etc

[2017-08-09 13:30] bbigras opened #53 "[FreeTDS][SQL Server]Invalid string or buffer length"
The problem doesn't happen every time. I just tested 5 times and I got ok, ok, err, err, err, ok, ok. Also it seems to only happen when I use `bind_parameter`.

**error**
[code]
**create table**
[code]

**insert data**
[code]

**query**
[code]

**versions**
rustc 1.21.0-nightly (ba1d065ff 2017-08-06)
odbc 0.9
Driver=FreeTDS
freetds 1.00.44-1
Arch Linux 64-bit
Microsoft SQL Server Standard Edition

[2017-08-09 13:31] bbigras commented on #49
I filled a new issue: #53

[2017-08-09 13:38] #49 closed

[2017-08-10 12:57] Koka commented on #53
@bbigras It's very strange. I've finally setup dockerized version of MSSQL for Linux on my Mac and I've run your code for 100 times in a loop and everything is fine, no errors, 10605 is returned every time

[2017-08-10 15:22] pacman82 commented on #53
Sounds like we messed up in our unsafe code. A backtrace would be helpful.

[2017-08-10 17:04] bbigras commented on #53
[code]

[2017-08-13 23:20] pacman82 opened #54 "odbc-safe layer"
I am open a GitHub issue since this is probably the best way to have a public design discussion. During the last month I have been busy revisiting some of the design decisions in odbc-rs and did some iterating in a separate repository without worrying to much about breaking interfaces and tests. I did this not with use cases in mind and convenience in mind, but wanted to stay very truthful to the

[2017-08-14 11:26] Koka commented on #54
@pacman82 Thanks, you're doing great things!

The more I think about ODBC in Rust and database access in general, I begin to understand that odbc-rs crate is really need to be something like your odbc-safe crate - it should allow to use ODBC more or less safely and mimic original API very close to not scare ODBC users from other platforms, and nothing more.

All this ergonomic and idiomatic API th

[2017-08-14 23:17] pacman82 commented on #54
I think you hit the nail on the head with this one. Binding to ODBC and designing a high level DB API is a bit to ambitious in one take.

I think a little incubation phase would be nice to soften the blow for our users. I did create [a branch in my fork of the repository](https://github.com/pacman82/odbc-rs/tree/odbc-0.10.0) and added you as a collaborator. Yet, maybe it is even better to create t

[2017-08-15 22:05] pacman82 commented on #54
Or:

Did some thinking yesterday. Maybe a sensible, somewhat higher layer could be achieved. Still not super high level, but not quite as bare bones as `odbc-safe`. By giving up unusual use cases like:

* Choosing ODBC Version at runtime without reallocating Environment
* Reusing previously allocated connection handles to connect to different `DataSources`
* Using the same statement handle for pre

[2017-08-16 04:14] Koka commented on #54
@pacman82 Looks good to me. We can provide automatic support of non utf8 encodings using `rust-encoding` crate as AFAIK dnt encoding can be obtained from connection attributes and rust encoding is utf8, so we can do the conversion - I think most of the time users will prefer to work with Rust strings than vec<u8> raw buffers, even for the price of decoding speed. We can support raw buffers too for

[2017-08-16 12:59] pacman82 commented on #54
@Koka We could also consider using the `UCS2` functions ending with `W` on windows and sticking with `utf8` on linux. Maybe we should move the encoding discussion to issue #52?

[2017-10-13 19:34] bbigras commented on #53
Any progress on this?

[2017-10-13 19:41] Koka commented on #53
@bbigras I'm afraid not much as I've had almost no free time in last few month to check this further.

[2018-02-15 19:05] cristianberneanu opened #64 "`get_data` on large string field results in `None`"
Hi,

I am trying to use the `odbc` crate to process some data in a SQL Server database.
During processing, I get `null` values for some of the string fields that have a large amount of content in them. Is that a known bug? If yes, is there some workaround that I can use?

Thanks.

[2018-02-16 05:26] Koka commented on #64
Hi @cristianberneanu, I believe that somehow related to https://github.com/Koka/odbc-rs/issues/41
The only workaround you can use for now is to implement this column handling logic yourself using underlying low level odbc-safe / odbc-sys crates

[2018-02-16 07:24] cristianberneanu commented on #64
OK, thanks for the info, I will look into doing that.

[2018-02-16 07:24] #64 closed

[2018-02-16 19:09] #41 closed

[2018-02-16 19:15] Koka commented on #54
Closing this because odbc-safe is implemented and this discussion lacks activity

[2018-02-16 19:15] #54 closed

[2018-02-25 19:26] Koka opened #66 "Unsafe enum usage"
Passing mut enum across FFI boundaries causes UB in cases when ODBC driver returns value absent in enum. Details: https://users.rust-lang.org/t/undefined-behaviour-after-unsafe-enum-usage/15572

[2018-02-25 19:27] Koka commented on #66
NB: As a part of this fix we need to update odbc-sys to v 0.6.0 at least

[2018-02-25 20:17] Koka commented on #66
There is [https://github.com/rust-lang/rust/issues/44109](https://github.com/rust-lang/rust/issues/44109) which is not implemented yet, but seems to be able to fix this problem

[2018-03-05 15:22] mehemken opened #67 "Example on crates.io is out of date."
New Rust user coming from Python. I need a Rust program that speaks `odbc` and I stumbled upon this project. However, I think [the example](https://crates.io/crates/odbc) is out of date. I'm new to Rust so I don't think I can contribute to the code, but I'd love to help with the Documentation.

You need any help with that?

[2018-03-05 17:00] Koka commented on #67
Hi @mehemken I very appreciate any help with this project, thanks!

[2018-03-06 06:00] Koka commented on #67
@mehemken I've fixed example in README, and it seems to work OK: https://monosnap.com/file/Q6wfPue09m7uczRe38DFzBYtR3hp9A

BTW you can always find working examples in `examples` directory of this repo

[2018-03-06 06:00] #67 closed

[2018-03-06 07:43] #48 closed

[2018-03-06 07:43] #52 closed

[2018-03-06 16:24] mehemken commented on #67
Ok I'll give it a shot. Thanks @Koka

[2018-03-15 00:34] scottmcm commented on #66
Note that `[non_exhaustive]` doesn't solve the unknown-discriminant-in-FFI case -- the crate that defines the enum is still allowed to exhaustively match on all the variants that exist (because it's the crate that owns the enum, so can update the match along with the new variant, if one is added) and thus it's still UB to put an unknown discriminant in an enum.

[2018-03-15 19:04] Koka commented on #53
Note to myself: looks like bind param is broken at https://github.com/Koka/odbc-rs/blob/35f90a7a6f9ccce3173bff4a89cc84aefdb34a64/src/statement/input.rs#L74 - odbc spec states that this buffer must be alive at the time of statement execution, and for now it's not true. Looks like awful use-after-free bug :(

[2018-04-09 12:59] #53 closed

[2018-05-22 16:39] Koka opened #75 "Rewrite everything in terms of odbc-safe"
Let's drop every use of direct odbc-sys calls in favor of odbc-safe crate (especially Statement related part).
Maybe a major API redesign is needed - in a more idiomatic way (with major version bump).

[2018-06-22 11:34] brandonros opened #76 "How are transactions supported?"
An example would be a huge help!

[2018-06-22 11:49] Koka commented on #76
Hi @brandonros,

I'm afraid there is no ergonomic way for transaction management was built into this crate, but it's still possible using low-level ODBC interface directly through [odbc-sys](https://github.com/pacman82/odbc-sys) crate (using `SQLSetConnectAttr` and `SQLEndTran` functions as described in [MSDN](https://msdn.microsoft.com/en-us/library/ms131281(v=sql.120).aspx)).

I hope some time l

[2018-06-22 13:28] brandonros commented on #76
Does this mean there is no Rust code out there that supports ODBC transactions?

[2018-06-22 14:34] Koka commented on #76
@brandonros Not yet. However I've posted a PR with transaction support to underlying crate, so you could either wait it to be merged or use it as a reference to guide your own implementation.

[2018-06-22 14:36] brandonros commented on #76
Link to PR?

[2018-06-22 14:38] Koka commented on #76
https://github.com/pacman82/odbc-safe/pull/6

[2018-06-28 21:34] ZerothLaw opened #77 "connection_with_connection_string borrows Environment preventing you from moving instances to a higher scope"
Consider this code:
``'Rust
pub fn create_connection<'env>(config: &UpgradeConfig) ->Result<(Connection<'env>, Environment<Version3>)> {
    let conn_str = build_connection_string(&config);
    let env = create_environment_v3().map_err(|e| e.unwrap()).unwrap();
    let conn = env.connect_with_connection_string(&conn_str);
    (conn, env)
}
[code]

[2018-06-28 22:21] ZerothLaw commented on #77
Looking closer at the source code, I notice that inside Environment/mod.rs the `as_safe` call creates a borrowed reference to an inner field of `Environment`.

Link here: [https://github.com/Koka/odbc-rs/blob/master/src/environment/mod.rs#L60](url)

Is there any way `as_safe` can be improved to prevent permanent borrowing of `Environment`?

[2018-06-29 05:08] Koka commented on #77
@ZerothLaw Thanks for your question. I'm not sure if I understand it correctly, but just to be on the same wave I need to mention that you supposed to have _only one_ Env instance per your whole application (perhaps inside lazy_static or something). According to ODBC spec you shouldn't allocate more than one environment handle (which exactly what `create_environment_v3()` does). So it's better not

[2018-06-29 13:05] paperplanes53 opened #78 "iODBC Driver Manager support"
I am trying to connect to a sqlite3 database to query a table. In my project, the connection string gives me the error 'Diagnostics returned error for record number 2. Record numbers have to be at least 1.'

I decided to download the crate individually to see if I could run test examples and figure out what is wrong with my code. None of the tests pass.

My output is below:
[cargo_test_output.txt]

[2018-06-30 05:07] Koka commented on #78
Actually, I've never tried this crate with iodbc, but should work too.
Can you please add more details on your environment?

Failing tests can be related not only to the crate itself, but also to environment, ODBC driver manager or driver and datasource setup.

The only native dependence of this crate is odbc driver manager. It should be already installed on Windows and for Linux and Mac you need

[2018-07-02 12:47] paperplanes53 commented on #78
I am using rustc 1.28.0-nightly (e3bf634e0 2018-06-28) now on a Mac. I am also using Homebrew 1.6.9. I uninstalled libiodbc. I have cmake version 3.11.1.

I looked at travis.yml again and noticed allow_failures. Is Nightly supported for this repo?

Doing brew search odbc shows I could use libiodbc, psqlodbc, unixodbc, sqliteodbc, and
mariadb-connector-odbc.

Doing brew search binutils shows I coul

[2018-07-13 13:28] zxey opened #79 "Cannot get all tables in database"
I am trying to get list all tables from database with Statement::tables function. But when I am trying to fetch the data, the 'fetch' function always returns None(Cursor).

What I've tried:
1) Modified 'connect' example to use tables function instead of exec_direct, can be found [here](https://gist.github.com/zxey/1428cda59d333ac92c68f1813d7dd6f4)
  - this example succeeds on 'tables' call, but al

[2018-07-22 07:46] Koka commented on #79
@zxey Sorry for late response, I greatly appreciate your feedback on this issue! I'll try to fix this issue on my spare time.

Until then you could try to use underlying odbc-safe and odbc-sys crates API to make this ODBC API call properly.

[2018-07-28 07:48] vnnv01 opened #80 "How to Get Rows Updated when Running Insert Command"
I am trying to insert a record in to table using select statement and I want to know how many records inserted. I am not able to get the results using cursor. Is there any other ways to get number of records affected in ODBC

[2018-07-28 08:11] Koka commented on #80
Thanks for your question. You might find this article helpful: https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/determining-the-number-of-affected-rows?view=sql-server-2017

You could use SQLRowCount function to retrieve affected record count.

Unfortunately, looks like it has no FFI wrapper in odbc-sys crate yet, so you could either wait for implemrntation or contribute correspondi

[2018-07-28 10:40] Koka commented on #80
It will not appear automatically in this crate, but will be quite easy to add it here if it will be added to odbc-sys

[2018-08-02 12:01] vnnv01 opened #81 "Running Insert Prepared Statement in Vertica returns Resultsetstate Data"
I tried running prepared statement` insert into test (a) values (:?)` and stmt.execute returned resultsetstate with value as Data<Statement>. Now I cannot resuse this prepare statement because , when I call stmt.close_cursor() vertica complains "Invalid cursor state". So how can I reuse the prepared statement again. Why is the stmt.execute gives me ResultsetState of Data in place of NoData.

[2018-08-02 13:42] Koka commented on #81
@vnnv01 Not sure about resultset from insert statement - it looks like it's specific for Vertica or something.

But nevertheless you should be able to reuse prepared statement using `reset_parameters` statement method as shown in https://github.com/Koka/odbc-rs/blob/master/examples/bind_params.rs - you could try just not to iterate result set and not close cursor if you sure it's returned to you b

[2018-08-02 14:47] vnnv01 commented on #81
@Koka  Thanks for your response. `execute `function of statement returns `resultsetstate `with Data or No Data values and when I try to run insert prepared statement , execute function returns `resultsetstate `with Data values. So now when I tried to run the `match `statement, I have to run `close_cursor `to get compatible types and then run the `stmt.reset_parameters() `and it seems `statement.re

[2018-08-24 20:50] adlerd commented on #81
I got the same thing from [ODBC Driver 13 for SQL Server].
[code]
resulted in
[code]
from the close_cursor line.

Unfortunately I think that the odbc crate is not correctly modeling the state transition. SQL_SUCCESS return value from, e.g., SQLExecDirect does not guarantee that a result set has been created. Though it doesn't say it directly, [the documentation strongly implies this, and also offe

[2018-08-28 21:23] bbigras opened #86 "thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: FromBytesWithNulError { kind: InteriorNul(113) }"
I'm trying to connect to some weird database. It's called [HFSQL](https://www.windev.com/pcsoft/hfsql.htm). I'm able to connect to it with its 32 bit ODBC driver and MS Excel (32 bit). With Rust I'm trying with the 64 bit driver (I didn't test the driver with a 64 bit Excel yet).

I used the "WX230PACKODBC042u.exe" driver on the french https://www.pcsoft.fr/st/telec/modules-communs-23/wx23_42u.htm

[2018-08-29 02:18] Koka commented on #86
This looks like a failed attempt to read a diagnostic message from driver - either it reports wrong message length or this is a bug in odbc-rs

There was a recent fix related to diagnostic messages - not sure if it’s related to this problem, but you could try to run the same code with earlier odbc-rs version 0.9.7 and see what happens.

[2018-08-29 12:55] bbigras commented on #86
I have the same trace when using `odbc = "=0.9.7"`.

[2018-08-29 13:29] bbigras commented on #86
There's accentuated characters in that diagnostic message. I'll post more detail.

[2018-08-29 14:03] bbigras commented on #86
self.message_length: 226

I added a '^' to show where the message length ends.

The encoding is latin1 or utf-16 (To be honest I don't really know the difference). See [playground demo](https://play.rust-lang.org/?gist=520e844c8b7a239a3319a703c9531608&version=stable&mode=debug&edition=2015).

**hex**
[4c, 27, 61, 63, 63, e8, 73, 20, 61, 75, 20, 73, 65, 72, 76, 65, 75, 72, 20, 76, 6f, 75, 73, 20, 6

[2018-10-12 13:58] bbigras commented on #76
Any progress on this?

[2018-10-12 13:59] Koka commented on #76
@bbigras Unfortunately I have no free time at all, so not much

[2018-10-12 14:00] brandonros commented on #76
What needs to be done?

Does it sound accurate that ODBC performance using this + IBM DB2 drivers would be much worse than Java’s JDBC offering?

Regards,

Brandon

________________________________
From: Konstantin V. Salikhov <notifications@github.com>
Sent: Friday, October 12, 2018 9:59 AM
To: Koka/odbc-rs
Cc: Brandon Ros; Mention
Subject: Re: [Koka/odbc-rs] How are transactions supported? (#76)

[2018-10-12 15:40] Koka commented on #76
What is needed is to finish migration of this crate to use underlying odbc-safe crate everywhere instead of outdated custom implementation from this crate. I’ve started some work on this in v2 branch, but it’s far from completion.

You can try to use of odbc-safe crate directly, but it’s not ergonomic at all.

Answering your question about performance - this crate don’t introduce additional perfor

[2018-10-17 06:52] ccakes commented on #78
Just an additional datapoint - on macOS 10.12 linking against libiodbc results in all tests failing, removed that and retried with unixodbc and all works fine.

I didn't try installing iODBC Driver Manager like OP did though.

[2018-10-17 20:01] paperplanes53 commented on #78
I removed iODBC Driver Manager and now only have unixodbc. Thank you @ccakes

[2018-10-18 07:31] giorgiopagnoni opened #87 "Can I use this to query .mdb files?"
I'm using mdbtools right now to query Microsoft Access files on *nix, but I want a more elegant solution that can work also on Windows. Can this crate be used to query .mdb files?

[2018-10-18 07:41] Koka commented on #87
@giorgiopagnoni Thanks for your interest. To query MS Access .mdb files using this crate you need to have working *nix ODBC driver for MS Access.

As far as I know there is no such open-source driver, but quick googling shows that commercial alternatives like [EasySoft ODBC driver](https://www.easysoft.com/products/data_access/odbc-access-driver/index.html) are present. So if commercial driver is

[2018-10-18 07:43] Koka commented on #78
So looks like iODBC doesn't work well with this crate. I'm renaming this issue to iODBC Driver Manager support request

[2018-11-21 19:21] #86 closed

[2018-11-28 13:42] Koka commented on #80
Finally, I had a minute of free time to release this feature as 0.9.12 (although not using odbc-safe interaction, but directly using odbc-sys). You could find usage example [here](https://github.com/Koka/odbc-rs/blob/master/examples/affected_row_count.rs)

[2018-11-28 13:42] #80 closed

[2018-12-04 08:06] gmg137 opened #94 "Get_data returns Chinese string error under windows"
The database returns a Chinese string. Running normally under linux, but compiling and running under windows will report the following error:
[code]

[2018-12-21 16:22] Koka commented on #81
Let's merge this PR and close this issue. If problem will be reproduced again - feel free to reopen it again

[2018-12-21 16:22] #81 closed

[2019-01-15 10:39] yuana1 commented on #94
@gmg137  Have you solved it ?

[2019-01-15 16:47] jpastuszek opened #97 "Possible UB can be caused by resize of param_ind_buffers"
https://github.com/Koka/odbc-rs/blob/d36276ac16e99a0404bed4bd74f918eb68b56393/src/statement/input.rs#L45

If I am not mistaken this resize call may deallocate and allocate new memory invalidating pointers passed to ffi::SQLBindParameter. Pointers passed to this functions must be valid until SQLExecute is called.

Note that I did not trigger any crash yet with this so I may be wrong here.

See this

[2019-01-16 05:54] Koka commented on #87
Closing this due to inactivity, feel free to open another issue if you have any questions left on this topic

[2019-01-16 05:54] #87 closed

[2019-01-17 02:05] yuana1 commented on #94
@Koka   When i open win10 utf-8 beta support, it works.
![image](https://user-images.githubusercontent.com/7308509/51290235-3f12c500-1a3e-11e9-9296-81812814e511.png)

I viewed source and find something.
![image](https://user-images.githubusercontent.com/7308509/51290389-afb9e180-1a3e-11e9-8166-cdf19acb7bc6.png)
can we send a user encoded bytes (like gbk bytes) to sqlserver?
as following
[code]

[2019-01-17 06:09] gmg137 commented on #94
@yuana1 没解决，我最后是直接把数据库返回数据换成英文了。。。推测是 odbc 的问题，因为我是相同的window sql server 数据库，在linux客户端下没问题，到windows客户端下就有问题了。。。。可能真是你说的那样，需要修改windows客户端的系统编码。

[2019-01-17 06:51] Koka commented on #94
@yuana1 Thanks for your investigation! I have very little experience related to national encoding problems in Rust and have no ability to properly test such cases. It would be great if you could find places where non-utf8 support can be improved and prepare pull request with proposed fixes.

[2019-01-17 06:52] Koka commented on #97
Hopefully fixed by #100

[2019-01-17 06:52] #97 closed

[2019-01-17 08:39] yuana1 commented on #94
@Koka  I will try it!

[2019-01-22 06:07] Koka commented on #94
Fix published as 0.10.1

[2019-02-07 15:02] xyx-is opened #103 "In some editions of Windows using non UTF-8, displaying DiagnosticRecord causes thread 'main' panicked at 'called `Result::unwrap()` on Utf8Error"
I'm using a Japanese edition of Windows and MSSQL. When I call `env.connect_with_connection_string` with an incorrect connection string, the function does not return an `Err`, but causes following panick with `Utf8Error`.

[code]

This is because the ODBC driver returns messages in Shift_JIS (strictly speaking, it is Windows-31J) encoding, which is incompatible with UTF-8. As an experiment, I have

[2019-02-08 07:05] Koka commented on #103
Thanks for your feedback! Yes, this part of library definitely need some polishing especially related to non-unicode support. Unfortunately I unlikely will have free time to fix this in the near future, but you're always welcome to post pull request with fixes.

[2019-02-08 09:23] xyx-is commented on #103
Thank you for your reply. Do you have any ideas to improve DiagnosticRecord to provide some way for users to change the conversion from `std::ffi::CStr` to string?
If you could suggest some Rust design patterns or implementation directions, I might try it if i could.

[2019-02-13 01:58] yuana1 commented on #103
@xyx-is , you can try https://github.com/yuana1/odbc-rs,
toml like this
![image](https://user-images.githubusercontent.com/7308509/52680773-adcb3b80-2f74-11e9-9926-d3a9518e85b7.png)

just replace
[code]
to
[code]
GB18030 is chinese encoding, and  you may need to replace it with "SHIFT_JIS".
I tested it in chinese, and it worked.

[2019-02-13 02:11] yuana1 commented on #103
@xyx-is  example
https://gist.github.com/yuana1/b9f5785dd4afdd85f78d11d97b55489e

[2019-02-13 14:01] xyx-is commented on #103
@yuana1 Thank you. This patch is greatly helpful.

[2019-02-21 16:58] jpastuszek opened #107 "affected_row_count should be implemented for all executed statements (including Prepared)"
Currently `affected_row_count` method is available for direct query (`Allocated`/`Executed`) and `Prepared` with `HasResult` but not for prepared query with `NoResult`.
If you run INSERT via prepared query you can't get the number of affected rows.

This looks all wrong to me though... `Executed` is an alias `Allocated` so you can't distinguish based on this on type system level. Also `Prepared` h

[2019-04-02 17:50] #78 closed

[2019-06-16 14:34] aligator opened #110 "cannot use tables / tables_str with mariadb-driver because it needs NULL"
I tried to use tables_str to get all tables from a maria db.

It always returns an empty result. After some trying with odbc-c-binding and calling SQLTables with odbc-sys directly I found the solution.
If I passs null_mut() to SQLTables for catalog, schema and table, it works. So there has to be a way for tables / tables_str to provide null. Maybe with an Optional?

Don't know why the mariadb-driv

[2019-06-16 19:20] Koka commented on #110
Closing this as  #111 was merged

[2019-06-16 19:20] #110 closed

[2019-06-16 19:21] Koka opened #112 "Failing list_drivers test"
This test fails on CI

[2019-06-26 19:11] bbigras opened #113 "SQLGetData has already returned the colmun data"
I get this error while trying to read some non-utf8 data intro a Vec<u8>.

I'm not sure if I can provide a test case. I'm using a weird SQL server called hfsql.

I'm pretty sure I use the right indexes with get_data().

odbc 0.13.0

[code]

[2019-06-26 19:45] bbigras commented on #103
@yuana1 Any plans to merge this patch?

[2019-06-26 20:06] bbigras commented on #113
Using https://github.com/Koka/odbc-rs/issues/103#issuecomment-463023204 seems to fix my problem but for some reason, one column has "\u{0}" instead of an empty string.

[2019-06-27 06:09] Koka commented on #103
@yuana1 I took it upon myself to create a pull request https://github.com/Koka/odbc-rs/pull/115 which integrates your changes to the master branch. Anyway I would like to have your permission as original changeset author to merge this in.

[2019-07-11 07:06] Koka commented on #103
I guess we can merge this, as @yuana1 is silent

[2019-07-11 07:06] #103 closed

[2019-07-11 07:11] Koka commented on #113
@bbigras Could you try this again using fresh 0.14.0 release?

[2019-07-15 16:24] bbigras commented on #113
0.14.0 seems to fix the "SQLGetData has already returned the colmun data" problem. Thanks!

I'm using `ODBCEnv(create_environment_v3_with_os_db_encoding("latin1", "latin1").unwrap());`.

I still have the "\u{0}" empty string problem. Should I open a new issue for that?

[2019-07-15 16:24] #113 closed

[2019-07-15 16:48] Koka commented on #113
@bbigras Yes, could you please open a new issue regarding zero bytes

[2019-07-15 17:44] bbigras opened #116 "zero bytes for empty string decoded with latin1"
I got "\u{0}" for some empty string.

odbc 0.14.0
I'm also using r2d2_odbc (that I updated to use odbc 0.14.0).

`ODBCEnv(create_environment_v3_with_os_db_encoding("latin1", "latin1").unwrap());`

I have some wireshark captures, not sure which parts I can send.

first mentioned on https://github.com/Koka/odbc-rs/issues/113

[2019-08-12 01:44] cetra3 opened #117 "Panic if LANG env variable isn't set."
I'm seeing a panic using odbc if the `LANG` environment variable isn't set:

[code]

This relates to the [following portion](https://github.com/Koka/odbc-rs/blob/77af3cd03ba5bc673b8d23676ec1fa8695e8e625/src/statement/types.rs#L176) of code:

[code]

If I set `LANG=en_US.UTF-8` this doesn't appear to trigger the unimplemented branch.   Happy to submit a PR to implement it, but I'm not exactly sure

[2019-08-12 02:23] Koka commented on #117
Thanks for your question.

This code branch was intentionally left unimplemented because there are no easy way to return an owned value as reference.

Could you please show the code which leads to this error? May be it could be rewritten to use Cow or String variant of convert function?

And I guess if we may be should use more meaningful panic message here instead of unimplemented!

[2019-08-12 03:21] cetra3 commented on #117
It'd be hard to reduce this down, but I think it relates to this bit of code:

[code]

I am assuming it's because the language env not being set means that encode_rs doesn't do a passthrough and instead has to create an owned version to convert it.  It looks like my code does a conversion to an owned string after this statement, so I can probably just `get_data` straight to `String`

Regardless: i

[2019-10-21 20:57] bbigras opened #119 "chrono support"
I saw [custom_get_data.rs](https://github.com/Koka/odbc-rs/blob/77af3cd03ba5bc673b8d23676ec1fa8695e8e625/examples/custom_get_data.rs) but would it be possible to have native Chrono support?

I'm thinking maybe it's not since ODBC can be used to query different sources which probably use differents datetime formats.

[2019-10-30 16:31] cfsamson commented on #117
A better error message would indeed be very helpful though.

I used this crate to connect using IBM iseries Access ODBC Driver and setting a `LANG` environment variable didn't help but changing from `cursor.get_data::<&str>(i as u16)?` to `cursor.get_data::<String>(i as u16)?` worked which was an easy workaround when I read this issue and figured out what was going on. This would also imply that a

[2019-10-31 17:15] Koka commented on #117
@cfsamson Thanks for your comment, unfortunately I have very small amount of time to maintain this crate recently, but I'll gladly accept any useful PR on this subject.

[2019-10-31 20:18] cfsamson commented on #117
@Koka Of course, no problem. I made a PR now so have a look at it when you have some time.

[2019-11-08 16:33] jrsmith17 opened #122 "OSX Build Error, Unable to link with cc"
I was trying to evaluate the ODBC crate for a connection to Snowflake. This is behind a corporate firewall, so I've modified the path in the error message to not report sensitive info.

`$ cargo run
   Compiling <project> v0.1.0 (/Users/<my_user>/<project>)
error: linking with cc failed: exit code: 1
  |
  = note: "cc" "-m64" "-L" "/Users/<my_user>/.rustup/toolchains/nightly-x86_64-apple-darwin/li

[2019-11-10 17:16] #112 closed

[2019-11-10 20:08] Koka commented on #76
Released transaction support as 0.15.0

[2019-11-10 20:08] #76 closed

[2019-11-10 20:08] #75 closed

[2019-11-10 20:20] Koka commented on #122
Do you have unixODBC installed?

[2019-11-10 20:22] #117 closed

[2019-11-11 15:00] jrsmith17 commented on #122
I did not previously have unixODBC installed. Installing it resolved my issue.

You can make this as closed, but I did have two followup questions:

1) I didn't see this listed in the README as a dependency. Should it be? Or is this something people more familiar with raw ODBC connections just know to install?
2) Is this a dependency for all *nix based systems?

[2019-11-12 06:21] antonb-via opened #126 "0.15 release broke 0.14"
Hi,
please be aware that 0.15 release broke 0.14 version:

[code]

[2019-11-12 06:23] Koka commented on #126
Sorry, that's 0.14.1 - will yank it

[2019-11-12 06:26] Koka commented on #126
Hmm actually 0.14.1 was not released on crates.io

[2019-11-12 06:50] Koka commented on #126
@antonb-via Should be fixed in 0.14.2

[2019-11-12 06:50] #126 closed

[2019-11-12 06:52] Koka commented on #122
If you want to use ODBC you'll need odbc driver manager like unixODBC on *nix systems or MS ODBC on windows

[2019-11-12 06:52] #122 closed

[2019-11-13 08:15] antonb-via opened #127 "No reexport for odbc_safe"
Hi,
although the docs claim that odbc_safe is re-exported, I don't see it in the code. The part of the docs says:

[code]

When I couldn't import the odbc_safe because it's private, I checked the actual crate code:

[code]

Can you please check and fix? Right now, I have to use odbc_safe as additional dependency.

Thanks.

[2019-11-13 08:16] Koka commented on #127
I have no free time now, but I'll gladly accept pull request on this subject

[2019-11-21 11:09] nao-kobayashi opened #128 "parameter binding problem(Is this dangling pointer?)"
Hi, I wrote following code.
"params" is a values of the query parameter.
When I set japanese text into params, duplicate value used in SQL.

I think String.value_ptr sometimes return duplicate addresses in the bind_parameter function.
For example, I set 10 japanese words into params Vector.
Some value is duplicated.
(I paste println results of String.value_ptr later.)
I think it may only happen in

[2019-11-25 04:49] nao-kobayashi commented on #128
I think value_ptr method in String or &str may returns dangling pointer.
This is implementation of value_ptr method.
`unsafe { ::environment::DB_ENCODING }.encode(&self).0.as_ptr() as *const Self as ffi::SQLPOINTER`
Value of encode(&self).0  will be dropped when method call finish.
I think this pointer indicates invalid address.
Am I misunderstand?
(I changed the title of this issue  because it is

[2019-11-25 09:26] Koka commented on #128
Thanks @nao-kobayashi
It definitely looks like a dangling pointer, unfortunately I have no free time to fix this.
As always, I'll gladly accept any pull request that can help

[2019-11-25 12:32] nao-kobayashi commented on #128
Thank you for your reply.
I am going to fix.

[2019-11-25 20:48] Daevor opened #129 "Code in Readme: wrong number of type arguments: expected 1, found 0"
When attempting to compile the code in the Readme, I get the following error:

[code]

I have added the following **dependencies** to the Cargo.toml file:
[code]

My **main.rs** is exactly the code in the Readme file.

Compiler version:
[code]

[2019-11-26 04:50] Koka commented on #129
Thanks @Daevor - you’re right, code in read me is a bit outdated, you can always find actual code in examples folder in this repo

[2019-11-26 10:28] jpastuszek commented on #129
I get this after running `cargo update` on a project that was compiling fine. Looks like you made an incompatible change and did not follow semver?

[2019-11-26 10:29] Koka commented on #129
@jpastuszek That was done accidentally on 0.14 branch, but should be fixed by 0.14.2, try refreshing the lockfile

[2019-11-27 13:21] Koka commented on #128
Should be fixed now

[2019-11-27 13:21] #128 closed

[2019-12-02 16:06] acasajus commented on #127
It works for me. Looking at lib.rs it is exported [here](https://github.com/Koka/odbc-rs/blob/48fa92d0a3276428438a15a28a58ad0fca3631d3/src/lib.rs#L29)

[2019-12-02 16:09] acasajus opened #131 "Send+Sync for connection"
Looking at the docs it says that `Send` and `Sync` are not implemented for connection but in your r2d2-odbc crate it is "unsafely" implemented. Can they be implemented in this crate? Or do you allow it under r2d2 because it takes care not to share a connection amongst two threads?

[2019-12-12 10:54] jpastuszek opened #132 "odbc v0.13.0 does not compile any more"
Test project:
[code]

Build fails but it was working before incompatible `odbc-safe` update:
[code]

This breaks my crate `odbc-iter` that uses this particular version.
Is it possible for you to yank responsible crate so the project adheres to SemVer again, please?
Should `odbc-safe` version `v0.4.2` be yanked and re-released as `v0.5.0`?

Otherwise I don't know how to fix my projects without upda

[2019-12-18 17:00] jpastuszek commented on #132
This propagates to all my crates based on odbc v0.13.0... I cannot publish or install any of them any more. I would happily roll forward but it looks like a bit of a change for my `odbc-iter` crate that I am not ready to tackle right now.
Any chance to get this resolved, please?

[2019-12-18 17:32] Koka commented on #132
Hey @jpastuszek sorry to hear that. I’m very short on free time last days, but I’ll try to see what we can do. Thanks for your patience

[2019-12-18 17:57] Koka commented on #132
Ok, I have yanked 0.4.2 - hope this helps

[2019-12-18 18:51] #132 closed

[2020-01-15 15:30] Koka commented on #129
Readme is fixed and included into doctests

[2020-01-15 15:30] #129 closed

[2020-01-23 13:15] hyousef-rusty opened #133 "How can I connect to MS DataBase"
I'm connected to MS Access database using `julia` odbc as below:
[code]

I'm using [evcxr_jupyter](https://github.com/google/evcxr/blob/master/evcxr_jupyter/README.md)

How can I do the same using Rust.

![image](https://user-images.githubusercontent.com/60115476/72987563-b3bfd280-3dfb-11ea-9510-47ff3c87f54e.png)

[2020-01-23 13:25] Koka commented on #133
Hello, thanks for your question. I've personally never touched jupyter, but your screenshot shows that you're missing some `use something;` statements. Feel free to refer to `examples` dir in this repo to se how the connection is done.

[2020-01-23 13:28] Koka commented on #131
Hello, thanks for your question. This needs more deep investigation because it's highly dependent on ODBC driver manager and diver itself whether it's safe to use things concurrently or not. r2d2-odbc is hacky quick'n'dirty implementation, but in this crate we try to do things more safely

[2020-01-23 14:40] hyousef-rusty commented on #133
Thanks @Koka
I made some changes, and got the below:

![image](https://user-images.githubusercontent.com/60115476/72994010-66496280-3e07-11ea-8298-981cd432c0d8.png)

[2020-01-23 15:08] Koka commented on #133
I guess you could use `env.connect_with_connection_string("Your connection string as in julia")`

[2020-01-23 15:09] Koka commented on #133
About that type error - try to remove type declaration on env variable

[2020-01-23 15:29] hyousef-rusty commented on #133
I got:

![image](https://user-images.githubusercontent.com/60115476/72998006-3b164180-3e0e-11ea-92c7-0fc5368077e6.png)

[2020-01-23 16:36] hyousef-rusty commented on #133
To avoid confusing I moved out of Jupyter and testing in Code:
[code]

But got:

[code]

[2020-01-23 18:04] Koka commented on #133
It's some db specific error from your driver, can't help here

[2020-01-23 19:46] hyousef-rusty commented on #133
Thanks, may be [this](https://stackoverflow.com/a/41703602/2441637) the issue, I'll check it in office next week.

[2020-01-24 08:21] pacman82 commented on #131
Just a quick comment from the sideline: In general it is unsafe, because it depends on your ODBC configuration wether this is safe or not. I'd suggest to promote a connection without `Send` + `Sync` to a connection type with `Send` + `Sync` via an unsafe function.

I think the relevant configuration to look at wether this is actually safe, is the threading level. See:
https://stackoverflow.com/que

[2020-01-30 04:50] cetra3 opened #134 "Panic when Reading table from DB2 Driver"
I'm hitting the following panic which I think relates to some DB2 related weirdness.  I have a feeling it's returning no value for a column row.

Happy to submit a PR if someone can point me in the direction of where it possibly might be an issue:

[code]

This relates to the following line:

https://github.com/Koka/odbc-rs/blob/97bdbe7555c86b975e902211d810c9b823017062/src/statement/output.rs#L69

[2020-01-30 14:45] Koka commented on #134
Hello, if I remember well this assertion was added by @jpastuszek - may be he can help with some advice?

[2020-01-31 12:23] jpastuszek commented on #134
This assert is there to signal a situation in witch the driver finished providing data (SQL_SUCCESS) but yet it indicates that there should be more data than could fit in the buffer. So the data you get would be truncated as it does not fit in the buffer but yet the driver is done providing it.

This is my understanding of
https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlgetdata-funct

[2020-01-31 12:38] jpastuszek commented on #134
In the doc they say that `If the column data is larger than the maximum number of bytes that you specified for SQL_ATTR_MAX_LENGTH, SQL_SUCCESS is returned. When you specify a maximum length, DB2 ODBC returns the length you specify, not the actual length, for the pcbValue argument.`. So if you would set that attribute then this behavior would be expected and data should be truncated - so perhaps w

[2020-02-17 14:32] gaoqiangz opened #135 "Incorrect affected_row_count using UPDATE and SELECT clause from SQL Server"
**SELECT** always returns -1,maybe not supported by driver?
**UPDATE** always return wrong number.....

I have tried flowing providers:

and

[2020-02-21 15:58] bbigras commented on #131
I'm also interested in this. I would love to be able to use this crate with deadpool:
https://github.com/bikeshedder/deadpool/issues/43

I wouldn't mind using bb8 too.

[2020-02-21 16:36] Koka commented on #131
Would gladly merge PR implementing the @pacman82 idea.

[2020-03-02 06:31] cetra3 commented on #134
@jpastuszek Apologies for taking a while to get back to you.  It looks like the size is wrong for the `indicator` variable.  I have printed out the values of each and Indicator is equal to `4294967295` before panicking.

[code]

As you can see it looks like a i32 `-1`, which is  `SQL_NULL_DATA`.

From the [IBM doc](https://www.ibm.com/support/knowledgecenter/SSEPEK_11.0.0/odbc/src/tpc/db2z_fngetda

[2020-03-02 17:08] jpastuszek commented on #134
So this looks like a type/arch mismatch. While this workaround won't hurt, there may be more issues if this types are different (e.g. `#define  SQL_DATA_AT_EXEC    -2` is another value that would be affected). Binding parameters or other sending data calls may have similar issue.
Also I guess it would be better to define `SQL_NULL_DATA_I32: i32 = -1` for this workaround to be more clear.

[2020-03-02 22:06] cetra3 commented on #134
I am assuming this is a bug in the driver itself.  I'm happy to leave my branch active rather than make changes to the main `odbc-rs` crate as it would be too messy.  Maybe IBM will release a fix later on.. 😐

[2020-03-02 22:06] #134 closed

[2020-05-06 12:44] jpastuszek opened #136 "Invalid handle panic due to connection dropped before statement"
Currently, it is possible to use the library incorrectly so that `Connection` object is dropped before `Statement` (or any derivative) leading to panic on `SQLFreeHandle` returning "invalid handle" error.

I have created a simplified reproduction of the issue in this Gist:

https://gist.github.com/jpastuszek/0471b276e6ec4fe187c4731b1581a303

Looks like what is happening is that:
* when `Statement`

[2020-05-06 15:52] Koka commented on #136
Great finding @jpastuszek ! Do you want to propose pull request?

[2020-05-09 14:13] #136 closed

[2020-05-09 14:22] #133 closed

[2020-06-10 03:20] joeygibson opened #138 "Is it possible to get SQL_INTERVAL_STRUCT from a cursor?"
I am working with a Vertica database, and I need to be able to extract its `Interval` type. I see from the source of this project, several structs related to interval, such as `SQL_INTERVAL_STRUCT`, but if I try to use this as the type to `get_data`, like this:

[code]

I get this compile error:

[code]

I also tried using `SQL_INTERVAL_UNION`, but got the same error.

I should note that I _can_ r

[2020-06-20 10:08] songlinshu opened #139 "access office access?"
hello ,How to access office access? With MS Access workgroup administrator?

[2020-06-29 00:32] alippai opened #140 "Arrow output"
Is it possible - similarly to Turbodbc - to get the resultset in Arrow format efficiently?

[2020-07-07 06:57] Koka commented on #140
Hello, I guess you could try to do so using https://docs.rs/crate/arrow/0.16.0 crate and this example https://github.com/Koka/odbc-rs/blob/master/examples/custom_get_data.rs

[2020-07-07 11:52] pacman82 commented on #140
Hi, I'm the original creator of `odbc-safe` and a maintainer of `turbodbc`.

To achive this you need to be able to query many rows at once in bulk.

Sadly I think you'd have to go all the way down to `odbc-sys`. Reason is that Odbc concept of both a buffer shared between consumer and the prepared statetment is hard to express in safe Rust (mutable shared ownership is forbidden). So a safe abstract

[2020-07-07 12:14] alippai commented on #140
I have 10y+ experience with JS, TS, Python, PHP, Java, but I'm 100% beginner with Rust and I don't have C++ experience either. This exercise requires the low-level knowledge of those languages :/
I can test and benchmark it, if somebody wants to develop it.

[2020-07-07 14:03] pacman82 commented on #140
No promises here, to summarize the answer to your original question: Right now there is no of the shelf solution to efficiently fill an arrow array from an odbc data source.

[2020-08-06 05:53] AWADHAMBIKA opened #143 "Connection Pooling support"
I tried to use r2d2 package and r2d2_odbc but there is a collision in carate usage with the same name.
How to enable connection pooling?
Does this driver support connection pooling?

The code I tried:
extern crate odbc_safe;
// Use this crate and set environment variable RUST_LOG=odbc to see ODBC warnings
extern crate env_logger;
extern crate odbc;

use odbc_safe::AutocommitOn;
use std::{thread, i

[2020-08-07 11:26] Koka commented on #143
Hello, you should not use odbc_safe directly, try using odbc safe reexport at `odbc::safe` instead - it guaranteed to have the same odbc_safe version as main crate do and be compatible

[2020-09-02 09:20] extrawurst commented on #143
@Koka does this mean then the driver does connection pooling?

[2020-09-02 09:24] extrawurst opened #146 "async/.await"
is it planned to support async/.await in here?

[2020-09-02 09:44] AWADHAMBIKA commented on #143
Yes, the driver does support connection pooling. I have tested and found to be working fine.

[2020-09-02 09:46] Koka commented on #146
Hey, thanks for your interest! Personally I have a little time to do the coding nowadays, but I'll gladly accept any useful pull request, so feel free to add it

[2020-09-03 16:58] GimpFlamingo commented on #143
I appear to be having the same issue I'm using odbc = "0.17.0", r2d2 = "0.8.9", and r2d2_odbc = "0.5.0". I've removed odbc_safe from my code and am using odbc::safe now but am still getting
[code]
Here is the function where the error is throwing including the use statements
[code]

[2020-09-03 17:32] AWADHAMBIKA commented on #143
Your cargo.toml file should have following entries only under [dependencies] r2d2 = "0.8"
odbc = "0.17.0"
odbc-safe = "0.5.0"
r2d2_odbc = "0.4.1"

**Sample Code:**

extern crate r2d2;
extern crate r2d2_odbc;
extern crate odbc;

use std::thread;
use r2d2_odbc::ODBCConnectionManager;
use odbc::*;
use odbc::ResultSetState::Data;

fn main() {
    let manager = ODBCConnectionManager::new("DSN=sample;DA

[2020-09-03 17:40] GimpFlamingo commented on #143
I created a new project and pasted the code you sent and got the same error.

[2020-09-03 17:52] GimpFlamingo commented on #143
Also when I attempt to use the dependencies you suggested I'm getting this
[code]

[2020-09-03 18:00] AWADHAMBIKA commented on #143
I am trying to figure out but in the meanwhile, you can do one thing, just clone the r2d2-odbc code from "https://github.com/Koka/r2d2-odbc" and then put my code in examples section as "connect.rs" and run.
This will run properly.
Possibly because there is a library file and it clarifies the import resolution and also @Koka's point that not to use r2d2-odbc directly.

[2020-09-08 12:30] GimpFlamingo commented on #143
I managed to fix it by creating a r2d2_odbc file directly into my project and copying the lib.rs file and pasting it there. I'm not sure if this means that the current version has some breaking changes to it or not but for now this was a short term fix. Thank you for the help!

[2020-09-14 14:57] pacman82 commented on #140
@alippai I've since written https://github.com/pacman82/odbc2parquet which demonstrates how to bind columnar buffers and retrieve the results efficiently. It directly utilizes the parquet type system, rather than arrow (mostly since rusts parquet library does not support writing from arrow yet), but it should give you an idea of how to bind such buffers, if you want to go down that route.

[2020-10-15 22:17] DavidWhit opened #152 "New Beginner: top level return for values example."
[code]
That makes sense but If I think I have literally hit the wall on this. It's rather difficult at least being a beginner in rust to get the return value  top level vs just printing/executing it. In a way I can still do clean up steps to reset params and close cursor. Can anyone help in this regard. Just to see how to go about it would be great. I looked at combinators  to achieve this with no

[2020-10-16 15:54] DavidWhit commented on #152
I have no idea what I was thinking... I got caught up in the mechanics of rust error handling vs just doing something simple.

[2020-10-16 15:54] #152 closed

[2020-10-16 21:20] bbigras opened #153 "FromBytesWithNulError { kind: InteriorNul(1) }"
odbc 78a06ab9d4cceee9ff40294e2f135965d1954010

It seems to happen while using `stmt.prepare()` with a `stmt.bind_parameter()`.

Would a network capture file help?

[code]

[2020-11-28 18:17] Clee681 commented on #143
I hit the same type error as @RKochenderfer. I opened a PR https://github.com/Koka/r2d2-odbc/pull/122 to bump the `odbc` dependency, but in the meantime I also just copied a `r2d2_odbc` file in my project.

[2021-01-31 18:06] palfrey opened #158 "Travis out of credits"
https://travis-ci.com/github/Koka/odbc-rs says "Builds have been temporarily disabled for public repositories due to a negative credit balance" - not sure if you want to have the fun of dealing with Travis's OSS credits allocation, or would prefer to move to another CI?

[2021-02-28 21:51] pawelpn opened #161 "lib build failed"
After I update rust to version.

cargo --version
cargo 1.50.0 (f04e7fab7 2021-02-04)

rustup --version
rustup 1.23.1 (3df2264a9 2020-11-30)

Library odbc = "0.17.0" not compiling now. Got an error:

error[E0277]: the trait bound `V: Version` is not satisfied
  --> C:\Users\user\.cargo\registry\src\github.com-1ecc6299db9ec823\odbc-0.17.0\src\environment\mod.rs:19:11
   |
19 |     safe: safe::Enviro

[2021-02-28 22:00] pacman82 commented on #161
See #160 . To fix our build Pin odbc-safe to 0.5.0.

[2021-03-01 08:25] pawelpn commented on #161
solved, thanks

[2021-03-01 08:25] #161 closed

[2021-05-04 08:27] Koka opened #168 "This repo is unsupported"
Hello folks, as of late I have no time to support and maintain this repo. I'll gladly add someone who has energy, desire and
 a good intent as a github collaborator and grant they with ability to publish to crates.io

[2021-12-19 19:19] pacman82 commented on #41
@jlgale Just looking over old issues, probably not relevant for you any more, but eventually fetching arbitrary large texts has been implemented in `odbc-api` <https://docs.rs/odbc-api/0.32.0/odbc_api/struct.CursorRow.html#method.get_text>

[2022-07-12 12:27] whati001 commented on #143
Can you or somebody please share an example of pooling? I do not find something useful.

[2022-07-12 12:33] whati001 commented on #168
For everybody who is looking for a supported ODBC lib, please also checkout https://github.com/pacman82/odbc-api